%head
  %link{:href => "css/test.css", :rel => "stylesheet", :type => "text/css"}
  %title Lake tallhow
%body
  %header 
    %span Journey through the Sierra Nevada Mountains 
    %h1 Lake Tahoe, California
  %p Lake Tahoe is one of the most breathtaking attractions located in California. It's home to a number of ski resorts, summer outdoor recreation, and tourist attractions. Snow and skiing are a significant part of the area's reputation.
  %a{href: "#"} find out more!

