%link{:href => "css/fakegoogle.css", :rel => "stylesheet", :type => "text/css"}

%main.main
  %img{ src: "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" }
  %input{ type: "text", name: "seach the world wide web" }

